<%= turbo_frame_tag "content" do %>
  <div class="game">
    <nav class="game-nav">
      <div class="left-side">
        <%= link_to 'Your Nuzlockes' %>
      </div>
        <h2>
          <%= link_to @game.title, game_path(@game.id) %>
        </h2>
      <div class="right-side">
        <%= link_to "Another Link here" %>
      </div>
    </nav>
    <%= turbo_frame_tag "game-dashboard" do %>
      <%= render "areas/nav", game: @game %>
      <% if @area %>
        <%= turbo_frame_tag 'area', src: area_path(@area, game_id: @game.id), loading: 'lazy' %>
      <% else %>
        <%= turbo_frame_tag 'area' %>
      <% end %>
    <% end %>
  </div>
<% end %>
