<li class="trainer__pokemon">
  <p>
    <%= trainer_pokemon.pokemon.species %>
  </p>
  <%= link_to link_path, data: { turbo_frame: turbo_frame } do %>
    <%= image_tag trainer_pokemon.pokemon.image_url %>
  <% end %>
  <div class="game-pokemon__types">
    <%= image_tag trainer_pokemon.game_pokemon.type_1.image_url %>
    <%= image_tag trainer_pokemon.game_pokemon.type_2.image_url if trainer_pokemon.game_pokemon.type_2.present? %>
  </div>
  <div class="item">
    <%= trainer_pokemon.item.present? ? image_tag(trainer_pokemon.item.image_url) : 'No Item' %>
  </div>
  <% if trainer_pokemon.ability %>
    <p><%= trainer_pokemon.ability %></p>
  <% end %>
  <% if trainer_pokemon.nature %>
    <p><%= trainer_pokemon.nature %></p>
  <% end %>
  <p>Level: <%= trainer_pokemon.level %></p>
  <% trainer_pokemon.moves.each do |move| %>
    <% if move.present? %>
      <%= link_to move.name, move_path(move), data: { turbo_frame: 'move-modal' }, class: "type-#{move.type.name}" %>
    <% else %>
      <p> - </p>
    <% end %>
  <% end %>  
</li>