<li class="trainer">
  <div class="trainer__left">
    <%= trainer.name %>
    <%= link_to trainer_path(trainer), data: { turbo_frame: 'trainer-modal' } do %>
      <%= image_tag trainer.sprite_url %>
    <% end %>
    <%= link_to 'Battle', 
                trainer_battle_path(trainer, attempt_id: (@attempt.id if @attempt)), 
                data: { turbo_frame: 'trainer-battle-modal' } %>
  </div>
  <ul class='trainer__team'>
  <% trainer.trainer_pokemon.each do |trainer_pokemon| %>
    <%= render partial: 'trainer_pokemon/trainer_pokemon', 
               locals: { link_path: trainer_pokemon_path(trainer_pokemon),
                         turbo_frame: 'trainer-pokemon-modal',
                         trainer_pokemon: trainer_pokemon } %>
  <% end %>
    
  </ul>
</li>
<li class="trainer-details hidden">
  <%= trainer.name %>
</li>